<% include partials/header %>

<% include partials/backslider %>

<div class='jumbotron' id="landingJumbo">
    <div class="container" >
        <div class="col-lg-12 ">
            <h1>Welcome to the BLAH!</h1>
            <h3>The best places to find Em !</h3>
            <hr>
            <a class="btn btn-lg btn-default" href="campgrounds"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find Em!</a>
        </div>
    </div>
</div>
<% include partials/footer %>